# ignore all .iml files
*.iml

# ignore all .idea folders
.idea

# ignore all target folders
target

# ignore all settings folders
.settings

#ignore all classpath files
.classpath

#ignore all project files
.project
