<div class="row">
    <div class="col-xs-6 col-md-3"><a href="javascript:;" class="thumbnail" ng-click="sayHello()"><img src="images/car.jpg" alt=""></a></div>
    <div class="col-xs-6 col-md-3"><a href="" class="thumbnail"><img src="images/car.jpg" alt=""></a></div>
    <div class="col-xs-6 col-md-3"><a href="" class="thumbnail"><img src="images/car.jpg" alt=""></a></div>
    <div class="col-xs-6 col-md-3"><a href="" class="thumbnail"><img src="images/car.jpg" alt=""></a></div>
</div>

<div class="row">
    <div class="col-xs-6 col-md-3"><a href="" class="thumbnail"><img src="images/car.jpg" alt=""></a></div>
    <div class="col-xs-6 col-md-3"><a href="" class="thumbnail"><img src="images/car.jpg" alt=""></a></div>
    <div class="col-xs-6 col-md-3"><a href="" class="thumbnail"><img src="images/car.jpg" alt=""></a></div>
    <div class="col-xs-6 col-md-3"><a href="" class="thumbnail"><img src="images/car.jpg" alt=""></a></div>
</div>

<div class="row">
    <div class="col-xs-6 col-md-3"><a href="" class="thumbnail"><img src="images/car.jpg" alt=""></a></div>
    <div class="col-xs-6 col-md-3"><a href="" class="thumbnail"><img src="images/car.jpg" alt=""></a></div>
    <div class="col-xs-6 col-md-3"><a href="" class="thumbnail"><img src="images/car.jpg" alt=""></a></div>
    <div class="col-xs-6 col-md-3"><a href="" class="thumbnail"><img src="images/car.jpg" alt=""></a></div>
</div>